<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comment</title>
  </head>

  <body>
    <h1>New Comment</h1>
    <form method="POST">
      <textarea name="comment" id="" cols="80" rows="8"></textarea>
      <div>
        <input type="submit" value="Comment" />
      </div>
    </form>
  </body>
</html>
