<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.IO</title>
  </head>
  <body>
    <form action="">
      <input type="text" name="message" id="message" value="" />
      <button>Send</button>
    </form>
  </body>
</html>
