<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.IO</title>
  </head>
  <body>
    <form action="">
      <input type="text" name="message" id="message" value="" />
      <button>Send</button>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      charset="utf-8"
    ></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script>
      let socket = io();
      $("form").submit(function() {
        socket.emit("message", $("#message").val());
        $("#message").val("");
        return false;
      });
    </script>
  </body>
</html>
